.stm_events_grid {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  margin: 0 -15px;
  font-size: 0;
  .item {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    vertical-align: top;
    width: 33.333333%;
    padding: 0 15px;
    margin: 0 0 30px;
    font-size: 14px;
    .item_wr {
      .item_thumbnail {
        img {
          display: block;
          max-width: 100%;
          height: auto;
        }
        a{
          position: relative;
          display: block;
          &:before{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: rgba(#000, .6);
            @include transition();
            opacity: 0;
          }
          &:after{
            content: "\e920";
            @include theme_icons();
            @include transition();
            position: absolute;
            left: 50%;
            top: 50%;
            margin: -15px 0 0 -15px;
            color: #fff;
            font-size: 30px;
            opacity: 0;
          }
          &:hover{
            &:before, &:after{
              opacity: 1;
            }
          }
        }
      }
      .content {
        padding: 38px 27px;
        font-size: 13px;
        @include transition();
        h6 {
          padding: 0;
          margin: 0 0 15px;
          line-height: 24px;
          text-align: center;
          letter-spacing: -0.6px;
          font-size: 18px;
          a {
            text-decoration: none !important;
            color: $stm_base_color;
            @include transition();
            &:hover {
              color: $stm_secondary_color;
            }
          }
          &:after {
            display: none;
          }
        }
        p {
          line-height: 18px;
        }
        .stm-event__meta {
          padding: 0;
          margin: 0;
          list-style: none;
          li {
            display: block;
            margin: 6px 0;
            position: relative;
            text-align: center;
            line-height: 22px;
            font-family: 'Exo', sans-serif;
            font-weight: 400;
            font-size: 15px;
            color: #777777;
            .fa {
              display: none;
            }
            &:nth-child(2) {
              display: none;
            }
          }
        }
      }
    }
    &:hover {
      .content {
        background-color: #ffffff;
      }
    }
  }
  &.cols_4 {
    .item {
      width: 25%;
    }
  }
  &.cols_2 {
    .item {
      width: 50%;
    }
  }
  &.cols_1 {
    .item {
      width: 100%;
    }
  }
}

.events_pagination {
  margin-top: 20px;
  padding-top: 30px;
  border-top: 1px solid #dddddd;
}

.stm_events_classic {
  position: relative;
  margin: 0 -15px;
  .item {
    position: relative;
    display: block;
    padding: 0 15px;
    margin: 0 0 30px;
    font-size: 14px;
    .item_wr {
      padding-top: 30px;
      margin-bottom: 30px;
      border-top: 1px solid #dddddd;
      .item_thumbnail {
        margin-bottom: 30px;
        img {
          display: block;
          max-width: 100%;
          height: auto;
        }
      }
      .content {
        font-size: 13px;
        @include transition();
        h4 {
          padding-top: 0;
          margin-bottom: 18px;
          font-weight: 700;
          font-size: 22px;
        }
        p {
          line-height: 18px;
        }
        .stm-event__meta {
          padding: 0;
          margin: 0 0 10px;
          list-style: none;
          li {
            display: inline-block;
            vertical-align: top;
            margin: 6px 20px 6px 0;
            position: relative;
            padding-left: 24px;
            line-height: 18px;
            font-family: 'Exo', sans-serif;
            .fa {
              position: absolute;
              top: 1px;
              left: 0;
              width: 17px;
              text-align: center;
              color: $stm_secondary_color;
              font-size: 15px;
            }
          }
        }
      }
      .event_read_more {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 10px;
        margin-right: 17px;
      }
    }
    &:first-child {
      .item_wr {
        border-top: 0;
        padding-top: 0;
      }
    }
  }
  .events_pagination {
    margin: 0 15px;
  }
  .stm_events_list_form {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 9999999999;
    background-color: rgba(#000000, 0.5);

    #event-form-box {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -192px;
      margin-left: -480px;
      width: 960px;

      .notice__hide {
        position: absolute;
        top: 20px;
        right: 50px;
        font-size: 30px;
        cursor: pointer;
      }
    }
  }
}

.stm_events_modern {
  position: relative;
  text-align: center;
  font-size: 0;
  .stm_events_modern_list {
    text-align: left;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 60px;
    .item {
      position: relative;
      display: block;
      padding: 40px 25px;
      border-top: 1px solid #dddddd;
      font-size: 14px;
      &:before {
        display: none;
        content: "";
        position: absolute;
        top: 0;
        left: -1px;
        width: 5px;
        height: 100%;
        background-color: $stm_third_color;
      }
      .item_wr {
        .content {
          display: table;
          width: 100%;
          .stm_events_modern_row {
            display: table-cell;
            vertical-align: middle;
            width: 240px;
            &:first-child {
              width: 480px;
            }
            h5 {
              padding: 0;
              margin: 0 0 0;
              line-height: 24px;
              letter-spacing: -0.70px;
              font-size: 16px;
              a {
                text-decoration: none !important;
                color: $stm_base_color;
                @include transition();
                &:hover {
                  color: $stm_secondary_color;
                }
              }
              &:after {
                display: none;
              }
            }
            .event_speaker_row {
              margin: 15px 0;
            }
            .event_speaker_thumbnail {
              float: left;
              display: inline;
              width: 40px;
              height: 40px;
              margin-right: 15px;
              img {
                display: block;
                max-width: 100%;
                height: auto;
                @include border-radius(50%);
              }
            }
            .event_speaker_content {
              position: relative;
              overflow: hidden;
              font-size: 13px;
              .event_speaker_description {
                font-style: italic;
                margin-bottom: 4px;
              }
              .event_speaker_name {
                letter-spacing: -0.70px;
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
                color: #222222;
                a {
                  text-decoration: none !important;
                  color: #222222;
                  @include transition();
                  &:hover {
                    color: $stm_secondary_color;
                  }
                }
              }
            }
            .fa {
              position: absolute;
              top: 2px;
              left: 0;
              width: 20px;
              text-align: center;
              margin-right: 10px;
              color: $stm_third_color;
              font-size: 15px;
            }
            .event__calendar {
              position: relative;
              padding-left: 28px;
              font-size: 13px;
              .fa {
                top: 50%;
                margin-top: -7px;
              }
            }
            .event__venue {
              position: relative;
              padding-left: 24px;
              font-size: 13px;
              .fa {
                top: 50%;
                margin-top: -8px;
              }
            }
          }
        }
      }
      &:hover {
        -webkit-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.3);
        box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.3);
        &:before {
          display: block;
        }
      }
    }
  }
  .event_btn_loading {
    display: none !important;
    padding-left: 30px !important;
  }
  &.event_posts_loading {
    .load_more_btn {
      display: none;
    }
    .event_btn_loading {
      display: inline-block !important;

    }
  }
}

.stm_events_widgets {
  position: relative;
  margin: 0 -15px;
  font-size: 0;
  .item {
    position: relative;
    display: block;
    padding: 0 15px;
    margin: 0 0 26px;
    font-size: 14px;
    .item_wr {
      padding-bottom: 20px;
      border-bottom: 1px solid #dddddd;
      .content {
        font-size: 13px;
        @include transition();
        h6 {
          padding: 0;
          margin: 0 0 10px;
          line-height: 20px;
          font-size: 14px;
          a {
            text-decoration: none !important;
            color: $stm_base_color;
            @include transition();
            &:hover {
              color: $stm_secondary_color;
            }
          }
          &:after {
            display: none;
          }
        }
        p {
          line-height: 18px;
        }
        .stm-event__meta {
          padding: 0;
          margin: 0;
          list-style: none;
          li {
            display: block;
            margin: 6px 0;
            position: relative;
            padding-left: 24px;
            line-height: 18px;
            font-family: 'Exo', sans-serif;
            .fa {
              position: absolute;
              top: 2px;
              left: 0;
              width: 17px;
              text-align: center;
              color: $stm_secondary_color;
              font-size: 15px;
            }
          }
        }
      }
    }
    &:last-child {
      margin-bottom: 0;
      .item_wr {
        border: 0;
        padding: 0;
      }
    }
  }
}

.event_content {
  .vc_general.vc_btn3 {
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    background-color: transparent;
    color: #5472D2;
    border: 1px solid transparent;
    box-sizing: border-box;
    word-wrap: break-word;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    top: 0;
    text-decoration: none;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    line-height: normal;
    font-size: 14px;
    padding: 14px 20px;
    .vc_btn3-icon {
      display: block;
      position: absolute;
      top: 50%;
      -webkit-transform: translate(0,-50%);
      -ms-transform: translate(0,-50%);
      -o-transform: translate(0,-50%);
      transform: translate(0,-50%);
    }
  }
  .vc_general.vc_btn3.vc_btn3-size-md.vc_btn3-style-outline, body .vc_general.vc_btn3.vc_btn3-size-md.vc_btn3-style-outline-custom, body .vc_general.vc_btn3.vc_btn3-size-md.vc_btn3-style-flat {
    padding: 10px 21px;
  }
  .item_thumbnail {
    img {
      display: block;
      overflow: hidden;
      position: relative;
      max-width: 100%;
      height: auto;
    }
  }
  .event_info_table {
    display: table;
    width: 100%;
    padding: 16px 0;
    margin-bottom: 30px;
    background-color: $stm_base_color;

    .event_info {
      display: table-cell;
      vertical-align: top;
      padding: 0 30px;
      &.text-right {
        vertical-align: middle;
      }
      ul {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
          display: block;
          list-style: none;
          padding: 8px 0 8px 26px;
          position: relative;
          font-family: 'Poppins', sans-serif;
          font-weight: 500;
          font-size: 14px;
          color: #ffffff;

          a {
            color: #ffffff;
          }

          .fa {
            position: absolute;
            top: 9px;
            left: 0;
            width: 17px;
            margin-right: 10px;
            text-align: center;
            color: $stm_third_color;
            font-size: 15px;
          }
        }
      }
      .vc_general.vc_btn3 {
        white-space: nowrap;
      }
      .vc_general.vc_btn3.vc_btn3-color-theme_style_3.vc_btn3-style-flat:hover {
        border-color: $stm_third_color !important;
        background-color: $stm_third_color !important;
        .vc_btn3-icon {
          color: #ffffff !important;
        }
      }
    }
  }
}

.event_joining_count_box {
  display: inline-block;
  vertical-align: top;
}

.event_joining {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  margin-bottom: 10px;
  .vc_general.vc_btn3.vc_btn3-color-theme_style_4.vc_btn3-style-outline {
    color: #222222;
  }
}
.event_joining_count {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding: 10px 20px;
  height: 44px;
  border: 2px solid #f2f2f2;
  font-style: italic;
  color: #222222;
  .fa {
    font-size: 22px;
    position: absolute;
    height: 11px;
    line-height: 11px;
    top: 50%;
    margin-top: -5px;
    left: -8px;
    background-color: #ffffff;
    color: #f2f2f2;
  }
}

.event-members-box-table {
  display: table;
  width: 100%;
  margin-bottom: 40px;
  &.bordered {
    padding-top: 20px;
    border-top: 1px solid #dddddd;
  }
  .event-members-box-table-row {
    display: table-cell;
    vertical-align: middle;
    .event-addtoany {
      font-size: 13px;
      .addtoany_shortcode {
        display: inline;
      }
    }
  }
}

.event-members-box-wrap {
  background-color: #f2f2f2;
  padding: 22px 50px;
  margin-bottom: 30px;
  h4 {
    margin-bottom: 34px;
  }
  .required-info {
    text-align: right;
    padding-top: 50px;
    font-size: 13px;
    color: #222222;
  }
  .event_terms_conditions {
    padding-top: 14px;
    input[type="checkbox"] {
      display: inline-block;
      vertical-align: top;
      margin-top: 4px;
      margin-right: 5px;
    }
    label {
      font-weight: normal;
      font-size: 13px;
      color: #222222;
      a {
        color: $stm_base_color;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .g-recaptcha {
    margin-top: 30px;
  }
  .button.size-lg {
    min-width: 140px;
    &.disabled {
      background-color: #dddddd;
      border-color: #dddddd;
      color: #999999;
      .fa {
        color: #999999;
      }
    }
  }
  .stm-ajax-loader {
    display: none;
    &.loading {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
    }
  }
  .loading {
    -webkit-animation: preloader 1.5s infinite linear;
    -moz-animation: preloader 1.5s infinite linear;
    -ms-animation: preloader 1.5s infinite linear;
    -o-animation: preloader 1.5s infinite linear;
    animation: preloader 1.5s infinite linear;
  }

  @-webkit-keyframes preloader {
    to { -webkit-transform: rotate(360deg); }
  }

  @-moz-keyframes preloader {
    to { -moz-transform: rotate(360deg); }
  }

  @-ms-keyframes preloader {
    to { -ms-transform: rotate(360deg); }
  }

  @-o-keyframes preloader {
    to { -o-transform: rotate(360deg); }
  }

  @keyframes preloader {
    to { transform: rotate(360deg); }
  }
}

.addtocalendar {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 10px;

  var {
    display: none;
  }

  .atcb-link {
    display: none;
    visibility: hidden;
  }

  .vc_general {
    cursor: pointer;
    color: #222222 !important;

    &.vc_general-active {
      background-color: #ffffff !important;
    }
  }

  .atcb-list {
    color: #000;
    width: 100%;
    display: none;
    border: 1px solid #bfbfbf;
    padding: 0;
    background-color: #fff;
    text-align: left;
    list-style: none;
    position: absolute;
    font-size: 14px;
    top: 100%;
    left: 0;
    z-index: 900;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.3);
    .atcb-item {
      &:first-child {
        a {
          &:before {
            content: "\f271";
          }
        }
      }
      &:nth-child(2) {
        a {
          &:before {
            content: "\f1a0";
          }
        }
      }
      &:nth-child(3) {
        a {
          &:before {
            content: "\f003";
          }
        }
      }
      &:nth-child(4) {
        a {
          &:before {
            content: "\f0ed";
          }
        }
      }
      &:last-child {
        a {
          &:before {
            content: "\f19e";
          }
        }
      }
    }

    a {
      display: block;
      padding: 5px 10px;
      text-decoration: none !important;
      font-weight: 600;
      color: #222222;
      &:before {
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        text-align: center;
        margin-right: 10px;
        font-family: fontawesome;
        font-weight: normal;
        color: $stm_base_color;
      }
      &:hover {
        background-color: $stm_base_color;
        color: #ffffff;
        &:before {
          color: #ffffff;
        }
      }
    }
  }
}

.vc_general {
  &.disabled {
    background-color: #dddddd !important;
    border-color: #dddddd !important;
    color: #999999 !important;
    cursor: default !important;
    .fa {
      color: #999999 !important;
    }
  }
}

.form__notice_information {
  display: none;
}

body {
  table.booked-calendar {
    font-family: 'Poppins', sans-serif;
    thead {
      .page-right,
      .page-left {
        top: 23px;
        font-size: 16px;
      }
      .monthName {
        text-transform: none;
        a {
          color: #ffffff !important;
        }
      }
    }
    td {
      color: #222222;
    }
  }
  .booked-calendar-wrap .booked-appt-list h2 {
    text-align: left !important;
    color: #222222;
  }
  table.booked-calendar td .date {
    span {
      color: #222;
    }
  }
  table.booked-calendar td.today .date {
    span {
      border-color: $stm_third_color;
    }
    &:hover {
      span {
        background-color: $stm_third_color !important;
      }
    }
  }
}

.events_lessons_box {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.event_lesson_tabs {
  min-width: 25%;
  a {
    display: block;
    padding: 19px 20px;
    text-decoration: none !important;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    background-color: $stm_third_color;
    color: $stm_base_color;
    span {
      display: block;
      padding-top: 4px;
      text-transform: none;
      font-weight: 400;
      font-size: 13px;
      color: #010101;
    }
    &:hover {
      color: $stm_base_color;
    }
  }
  &.active {
    a {
      background-color: $stm_base_color;
      color: $stm_third_color;
      span {
        color: #ffffff;
      }
    }
  }
}

.event_lesson_info {
  order: 2;
  display: none;
  align-self: flex-end;
  width: 100%;
  padding-top: 40px;
  padding-left: 20px;
  list-style: none;
  .event_lesson_info_time_loc {
    display: flex;
    margin-bottom: 7px;
    font-size: 12px;
    .event_lesson_info_times {
      margin-right: 50px;
    }
    i {
      margin-right: 6px;
      font-size: 15px;
      color: $stm_third_color;
    }
  }
  .event_lesson_info_content_wrap {
    position: relative;
    padding-bottom: 26px;
    margin-bottom: 8px;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 5px;
      width: 1px;
      height: 100%;
      background-color: #dddddd;
    }
    .event_lesson_info_content {
      margin: 0 0 0 55px;
      padding-bottom: 25px;
      position: relative;
      border-bottom: 1px solid #dddddd;
      .event_lesson_info_title {
        text-transform: uppercase;
        padding: 15px 0 10px;
        letter-spacing: -0.50px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 16px;
        color: #222222;
      }
      .event_lesson_info_description {
        line-height: 22px;
        padding: 8px 0;
        font-size: 13px;
        color: #222222;
      }
      .event_lesson_speakers {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        margin: 0 -25px;
        padding: 0;
        li {
          display: inline-block;
          vertical-align: top;
          padding: 15px 25px;
          width: 33.333333%;
          .event_speaker_thumbnail {
            max-width: 40px;
            margin-right: 14px;
            float: left;
            img {
              display: block;
              max-width: 100%;
              height: auto;
              @include border-radius(50%);
            }
          }
          .event_speaker_content {
            display: block;
            position: relative;
            overflow: hidden;
            font-size: 13px;
            .event_speaker_name {
              margin-bottom: 2px;
              letter-spacing: -0.30px;
              font-family: 'Poppins', sans-serif;
              font-weight: 700;
              a {
                color: #222222;
                &:hover {
                  text-decoration: none;
                  color: $stm_secondary_color;
                }
              }
            }
            .event_speaker_description {
              font-style: italic;
            }
          }
        }
      }
    }
  }
  li {
    &:last-child {
      .event_lesson_info_content_wrap {
        padding-bottom: 0;
        margin-bottom: 0;
        &:before {
          display: none;
        }
        .event_lesson_info_content {
          border-bottom: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .events_lessons_box {
    display: block;
    margin-bottom: 25px;
  }
  .event_lesson_tabs {
    border-top: 1px solid #ffffff;
    &.active {
      border: 0;
    }
    &:first-child {
      border: 0;
    }
  }
}
@media only screen and (max-width: 680px) {
  .event_lesson_info {
    padding-left: 0;
    .event_lesson_info_content_wrap {
      .event_lesson_info_content {
        margin-left: 25px;
        .event_lesson_speakers {
          li {
            width: 50%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 414px) {
  .event_lesson_info {
    .event_lesson_info_content_wrap {
      .event_lesson_info_content {
        .event_lesson_speakers {
          li {
            width: 100%;
          }
        }
      }
    }
  }
}