#header {
  position: relative;
  z-index: 99999;
}

@import "header_top";
@import "top_bar";
@import "top_nav";
@import "title_box";

body{
  &.header_transparent{
    #header{
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      background-color: rgba($stm_secondary_color, 0.8);
    }
    .stm-header {
      box-shadow: none;
      .stm-navigation__default {
        > ul {
          > li {
            > a {
              color: $stm_base_color;
            }
            &.current-menu-item {
              > a {
                color: $stm_third_color;
              }
            }
          }
        }
      }
      @media only screen and (max-width: 1023px) {
        background-color: $stm_secondary_color;
        ul li.stm_megamenu > ul.sub-menu > li {
          width: auto !important;
        }
        ul li.stm_megamenu > ul.sub-menu > li:first-child {
          padding-top: 20px;
        }
        ul li.stm_megamenu > ul.sub-menu > li:last-child {
          padding-bottom: 20px;
        }
        ul li.stm_megamenu > ul.sub-menu > li ul.sub-menu > li > a {
          margin: 0 !important;
          padding: 5px 0 !important;
        }
        .stm-header__cell {
          margin-bottom: 10px !important;
          .stm-header__element {
            margin: 10px 0 !important;
          }
        }
      }
    }
    .pearl_sticked {
      background-color: $stm_base_color;
      padding-top: 15px !important;
      padding-bottom: 15px !important;
      box-shadow: 0 5px 10px 0 rgba($stm_base_color,0.5) !important;
    }
  }
}

/*Header builder*/
.stm-header {
  margin-bottom: 0 !important;
  box-shadow: 0 1px 3px rgba(0,0,0,.15);
  .stm-header__row_color_center {
    &:before {
      content: "";
      max-width: 1110px;
      height: 1px;
      margin: 0 auto;
      background-color: rgba(#ffffff, 0.2);
    }
  }
  .stm-logo {
    margin-bottom: 15px;
    @media only screen and (max-width: 1023px ) {
      margin-bottom: 0;
    }
  }
  .stm-navigation__default {
    > ul {
      > li {
        > a {
          padding: 10px 15px !important;
          font-weight: 700 !important;
          letter-spacing: -0.20px;
          text-transform: none;
          line-height: 18px;
          font-size: 15px;
          color: $stm_base_color;
          @media only screen and (max-width: 1023px ) {
            padding: 10px 0 !important;
          }
        }
        &.current_page_parent,
        &.current-menu-item {
          > a {
            color: $stm_third_color;
          }
        }
        &:last-child {
          > ul {
            left: auto;
            right: 15px;
          }
        }
        &.menu-item-has-children {
          > a {
            &:after {
              border-color: $stm_base_color transparent transparent !important;
            }
          }
        }
        > ul {
          top: 48px !important;
          > li {
            > a {
              font-size: 15px !important;
              font-weight: 500 !important;
              color: $stm_base_color;
              &:hover {
                color: $stm_secondary_color;
              }
            }
            &.current_page_parent,
            &.current-menu-item {
              > a {
                color: $stm_secondary_color;
              }
            }
            > ul {
              > li {
                > a {
                  font-size: 15px;
                  font-weight: 500;
                  color: $stm_base_color;
                  &:hover {
                    color: $stm_secondary_color;
                  }
                }
                &.current_page_parent,
                &.current-menu-item {
                  > a {
                    color: $stm_secondary_color;
                  }
                }
              }
            }
          }
        }
        @media only screen and (max-width: 1023px ) {
          ul {
            padding: 0 !important;
          }
          &.stm_megamenu {
            > ul.sub-menu {
              > li {
                border-left: 0 !important;
                margin-bottom: 20px;
                &:last-child {
                  margin-bottom: 0;
                }
                > a {
                  padding-left: 0 !important;
                }
                > ul {
                  display: block !important;
                  > li {
                    > a {
                      padding: 11px 15px !important;
                    }
                  }
                }
              }
            }
          }
        }
        &.stm_megamenu__boxed {
          > ul {
            width: auto;
            margin: 0;
          }
        }
      }
    }
  }
  .pearl_sticked {
    background-color: #fff;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    box-shadow: 0 5px 15px 0 rgba($stm_base_color,0.2) !important;
  }
  .stm-socials {
    .stm-socials__icon {
      line-height: 26px;
    }
  }
  .hb-icontext {
    display: flex;
    font-size: 14px;
    align-items: center;
    position: relative;
    margin-right: 25px;
    font-family: inherit !important;
    a {
      color: #fff;
    }
    i {
      margin-right: 8px;
      font-size: 20px;
    }
    &:before {
      content: "";
      position: absolute;
      top: -3px;
      right: -30px;
      width: 1px;
      height: 24px;
      background-color: rgba(#fff, 0.2);
    }
    @media only screen and (max-width: 1023px) {
      &:before {
        display: none;
      }
    }
  }
}
.stm_mobile__header {
  background-color: #fff;
  .stm_mobile__logo {
    min-width: 200px;
  }
  .stm_mobile__switcher {
    span {
      margin-bottom: 6px;
      background-color: $stm_third_color !important;
    }
    &.active {
      span {
        &:first-child {
          top: 10px;
        }
        &:last-child {
          top: -10px;
        }
      }
    }
  }
}

.stm-header .elements_in_row_1 {
  padding: 0 !important;
  .container{
    padding: 0;
    width: auto;
  }
  @media only screen and (max-width: 1023px) {
    padding: 0 !important;
  }
}

.stm-iconbox {
  padding-left: 20px;
  border-left: 1px solid #d3d3d3;
  .stm-iconbox__icon {
    font-size: 18px !important;
    margin-top: 4px;
    color: $stm_secondary_color !important;
  }
  .stm-iconbox__text {
    margin-bottom: 8px;
    font-size: 18px;
  }
  .stm-iconbox__description {
    font-size: 15px;
  }
}

@media only screen and (max-width: 1300px ) {
  .stm-header__hb.stm-header .stm-navigation__default>ul>li>a {
    padding: 0 10px !important;
  }
  .stm-header .stm-socials a {
    margin: 0 8px;
  }
  .stm-header .stm-logo {
    padding-top: 5px;
    max-width: 140px;
  }
}
@media only screen and (min-width: 1024px ) {
  body.header_full_width #header .container {
    width: auto !important;
  }
}
@media only screen and (max-width: 1023px) {
  .stm-header{
    background-color: #fff !important;
    &:before {
      display: none !important;
    }
  }
  .stm-header__hb .stm-navigation__default>ul>li ul.sub-menu .sub-menu li a {
    padding-left: 25px;
  }
}
@media only screen and (min-width: 1199px ) {
  body.header_full_width #header .container {
    padding: 0 95px !important;
  }
}
@media only screen and (max-width: 1023px ) {
  .stm-header__element {
    &:first-child {
      margin: 20px 0 0 !important;
    }
  }
}

.stm-header__hb .stm-navigation__default {
  >ul {
    >li.current-menu-parent {
      > a {
        color: $stm_secondary_color;
      }
    }
  }
}
html body ul li.stm_megamenu > ul.sub-menu > li ul.sub-menu > li.current-menu-item > a {
  color: $stm_secondary_color;
}
html body ul li.stm_megamenu .stm_megaicon, html body ul li.stm_megamenu .fa {
  margin-top: 3px;
}