#header {
  position: relative;
  z-index: 99999;
}

@import "header_top";
@import "top_bar";
@import "top_nav";
@import "title_box";

body{
  #header {
  }
  &.header_transparent{
    #header{
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      background-color: rgba(255,255,255, 0.9);
    }
    .stm-header {
      box-shadow: none;
      @media only screen and (max-width: 1023px) {
        background-color: $stm_secondary_color;
        ul li.stm_megamenu > ul.sub-menu > li {
          width: auto !important;
        }
        ul li.stm_megamenu > ul.sub-menu > li:first-child {
          padding-top: 20px;
        }
        ul li.stm_megamenu > ul.sub-menu > li:last-child {
          padding-bottom: 20px;
        }
        ul li.stm_megamenu > ul.sub-menu > li ul.sub-menu > li > a {
          margin: 0 !important;
          padding: 5px 0 !important;
        }
        .stm-header__cell {
          margin-bottom: 10px !important;
          .stm-header__element {
            margin: 10px 0 !important;
          }
        }
      }
    }
    .pearl_sticked {
      background-color: $stm_base_color;
      padding-top: 15px !important;
      padding-bottom: 15px !important;
      box-shadow: 0 5px 10px 0 rgba($stm_base_color,0.5) !important;
    }

  }
}

/*Header builder*/
.stm-header {
  max-width: none !important;
  margin-bottom: 0 !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  .stm-header__row_color_center {
    &:before {
      content: "";
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 1023px ) {
    .stm-header__row_color_top {
      display: none !important;
    }
  }
  .stm-logo {
    margin-bottom: 15px;
    @media only screen and (max-width: 1023px ) {
      margin-bottom: 0;
    }
  }
  .stm-navigation__default {
    > ul {
      > li {
        > a {
          position: relative;
          padding: 0 20px !important;
          font-weight: 600 !important;
          text-transform: uppercase;
          line-height: 18px;
          font-size: 13px;
          color: $stm_base_color;
          @media only screen and (max-width: 1023px ) {
            padding: 10px 0 !important;
            border: 0;
          }
          &:after {
            content: "";
            position: absolute;
            left: 20px;
            right: 20px;
            height: 3px;
            transition: all 0.3s;
            background-color: $stm_secondary_color;
            visibility: hidden;
            opacity: 0;
            bottom: -20px;
          }
          &:hover {
            &:after {
              bottom: -10px;
              visibility: visible;
              opacity: 1;
            }
          }
        }
        &.current_page_item,
        &.current-menu-item {
          > a {
            &:after {
              display: block !important;
              bottom: -10px;
              visibility: visible !important;
              opacity: 1 !important;

            }
          }
        }
        &.menu-item-has-children {
          > a {
            &:hover {
              &:after {
                visibility: hidden;
                opacity: 0;
              }
            }
            @media only screen and (max-width: 1023px ) {
              &:after {
                left: auto;
                background-color: transparent !important;
                visibility: visible !important;
                opacity: 1 !important;
                border-color: #fff transparent transparent !important;
              }
            }
          }
        }
        &:first-child {
          > a {
            border: 0;
          }
        }
        &:last-child {
          > ul {
            left: auto;
            right: 15px;
          }
        }
        > ul {
          top: 25px !important;
          left: 0 !important;
          border-top: 3px solid $stm_secondary_color;
          > li {
            > a {
              font-size: 15px !important;
              font-weight: 500 !important;
              color: $stm_base_color;
              &:hover {
                color: $stm_secondary_color;
              }
            }
            &.current_page_parent,
            &.current-menu-item {
              > a {
                color: $stm_secondary_color;
              }
            }
            > ul {
              > li {
                > a {
                  font-size: 15px;
                  font-weight: 500;
                  color: $stm_base_color;
                  &:hover {
                    color: $stm_secondary_color;
                  }
                }
                &.current_page_parent,
                &.current-menu-item {
                  > a {
                    color: $stm_secondary_color;
                  }
                }
              }
            }
            &.menu-item-has-children {
              &:before {
                content: '';
                position: absolute;
                right: 20px;
                top: 50%;
                margin: -4px 0 0;
                border-top: 4px solid transparent;
                border-bottom: 4px solid transparent;
                border-left: 5px solid #cccccc;
              }
              @media only screen and (max-width: 1023px ) {
                &:before {
                  display: none;
                }
              }
            }
          }
        }
        &.stm_megamenu {
          > ul.sub-menu {
            top: 46px !important;
          }
        }
        @media only screen and (max-width: 1023px ) {
          ul {
            padding: 0 !important;
            margin: 0 -15px !important;
            width: auto !important;
            li {
              ul {
                margin: 0 !important;
              }
            }
          }
          &.stm_megamenu {
            > ul.sub-menu {
              width: auto !important;
              > li {
                border-left: 0 !important;
                margin-bottom: 20px;
                &:last-child {
                  margin-bottom: 0;
                }
                > a {
                  padding-left: 0 !important;
                }
                > ul {
                  display: block !important;
                  > li {
                    > a {
                      padding: 11px 15px !important;
                    }
                  }
                }
              }
            }
          }
        }
        &.stm_megamenu__boxed {
          > ul {
            width: auto;
            margin: 0;
          }
        }
      }
    }
  }
  .pearl_sticked {
    background-color: #fff;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    box-shadow: 0 5px 15px 0 rgba($stm_base_color,0.2) !important;
  }
  .stm-socials {
    white-space: nowrap;
    a {
      float: none;
      display: inline-block;
      vertical-align: middle;
      transition: all 0.3s;
      margin: 0 15px;
      font-size: 18px;
      color: rgba($stm_base_color, 0.50);
      &:hover {
        color: $stm_base_color;
      }
    }
    .stm-socials__icon {
      line-height: 26px;
    }
  }
  .hb-icontext {
    display: flex;
    font-size: 14px;
    align-items: center;
    position: relative;
    margin-left: 25px;
    font-family: inherit !important;
    a {
      color: #fff;
    }
    i {
      margin-right: 8px;
      font-size: 16px;
      &.fa-envelope {
        font-size: 14px;
      }
    }
    &:before {
      content: "";
      position: absolute;
      top: 0px;
      left: -30px;
      width: 1px;
      height: 16px;
      background-color: rgba(#fff, 0.6);
    }
    @media only screen and (max-width: 1023px) {
      &:before {
        display: none;
      }
    }
    @media only screen and (max-width: 1023px) {
      margin-left: 0;
    }
  }
}
.stm_mobile__header {
  background-color: $stm_third_color;
  .stm_mobile__logo {
    min-width: 200px;
  }
  .stm_mobile__switcher {
    span {
      margin-bottom: 6px;
      background-color: $stm_secondary_color !important;
    }
    &.active {
      span {
        &:first-child {
          top: 10px;
        }
        &:last-child {
          top: -10px;
        }
      }
    }
  }
}



.stm-iconbox {
  margin-left: 40px;
  .stm-iconbox__icon {
    font-size: 20px !important;
    margin-top: 2px;
    color: $stm_secondary_color !important;
    &.fa-map-marker {
      &:before {
        content: "\e93c";
        font-family: 'stm' !important;
      }
    }
    &.fa-clock-o {
      &:before {
        content: "\e92b";
        font-family: 'stm' !important;
      }
    }
    &.fa-phone {
      &:before {
        content: "\e93e";
        font-family: 'stm' !important;
      }
    }
  }
  .stm-iconbox__text {
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 14px;
  }
  .stm-iconbox__description {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1300px ) {
  .stm-header__hb.stm-header .stm-navigation__default>ul>li>a {
    padding: 0 10px !important;
  }
  .stm-header .stm-socials a {
    margin: 0 8px;
  }
  .stm-header .stm-logo {
    padding-top: 5px;
    max-width: 140px;
  }
}
@media only screen and (min-width: 1024px ) {
  body.header_full_width #header .container {
    width: auto !important;
  }
}
@media only screen and (max-width: 1023px) {
  .stm-header{
    background-color: $stm_third_color !important;
    &:before {
      display: none !important;
    }
  }
  .stm-header__hb .stm-navigation__default>ul>li ul.sub-menu .sub-menu li a {
    padding-left: 25px;
  }
}
@media only screen and (max-width: 1023px ) {
  .stm-header__element {
    &:first-child {
      margin: 20px 0 0 !important;
    }
  }
}