body{
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

a {
  color: $stm_third_color;
  text-decoration: none;
  outline: none !important;
  &:hover, &:active, &:focus {
    text-decoration: underline;
    color: $stm_third_color;
  }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: $stm_base_color;
  padding: 0;
  margin: 0 0 23px;
  font-size: 48px;
  line-height: 60px;
  &:after{
    content: '';
    display: block;
    width: 52px;
    height: 3px;
    background: $stm_secondary_color;
    margin: 4px 0 0;
  }
  &.stripe_2{
    &:after{
      @include border-radius(0);
      width: 47px;
      height: 5px;
    }
  }
  &.no_stripe, &.stripe_2.no_stripe{
    &:after{
      display: none;
    }
  }
}

div.no_stripe{
  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    &:after{
      display: none;
    }
  }
}

div.remove_padding{
  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    padding-top: 0;
  }
}

.stripe_top_bottom {
  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    &:before,
    &:after{
      content: '';
      display: block;
      width: 52px;
      height: 3px;
      background: $stm_secondary_color;
      margin-bottom: 22px;
    }
    &:after{
      margin-top: 22px;
      margin-bottom: 0;
    }
  }
  &.text_align_center {
    h1, .h1,
    h2, .h2,
    h3, .h3,
    h4, .h4,
    h5, .h5,
    h6, .h6 {
      &:before,
      &:after{
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

h2, .h2 {
  margin-bottom: 23px;
  font-size: 38px;
  font-weight: 700;
  line-height: 38px;
  padding: 10px 0 0;
  text-transform: none;
  &:after {
    margin: 23px 0 0;
  }
}

h3, .h3 {
  margin-bottom: 23px;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  padding: 17px 0 0;
  text-transform: none;
  &:after {
    margin: 16px 0 0;
  }
}

h4, .h4{
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 23px;
  text-transform: none;
  line-height: 34px;
  padding: 23px 0 0;
  &:after {
    margin: 14px 0 0;
  }
}

h5, .h5 {
  margin: 0 0 23px;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  padding: 28px 0 0;
  &:after {
    margin: 16px 0 0;
  }
}

h6, .h6{
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  padding: 31px 0 0;
  &:after {
    margin: 17px 0 0;
  }
}

@media only screen and (max-width: 640px) {
  h1, .h1 {
    font-size: 40px !important;
    line-height: 40px !important;
  }
  h2, .h2 {
    font-size: 36px !important;
    line-height: 36px !important;
  }
  h3, .h3 {
    font-size: 32px !important;
    line-height: 32px !important;
  }
}

.title_no_stripe {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:after {
      content: none;
    }
  }
}

p {
  line-height: 24px;
  margin: 0 0 15px;
}

strong, b {
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

mark {
  background: none;
  color: $stm_base_color;
  padding: inherit;
}

blockquote {
  padding: 21px 30px 18px 30px;
  border-left: 5px solid $stm_third_color;
  background: #f2f2f2;
  font-size: 16px;
  line-height: 26px;
  color: #243238;
  font-style: italic;
}

.wpb_text_column, .comment-body .comment-text {
  ul {
    margin: 0 0 38px;
    list-style: none;
    padding: 0;
    &.small_margin{
      li{
        margin-bottom: 9px;
      }
    }
    li{
      position: relative;
      padding: 0 0 0 37px;
      margin: 0 0 14px;
      line-height: 22px;
      color: #243238;
      border: none;
      font-family: inherit;
      &:before {
        content: "\e907";
        font-family: "stm";
        position: absolute;
        left: 0;
        top: 4px;
        display: inline-block;
        vertical-align: top;
        font-size: 15px;
        color: $stm_third_color;
        transform: rotate(0deg);
      }
      div{
        padding: 10px 0;
      }
      p{
        font-family: "Open Sans";
      }
      ul, ol{
        margin: 10px 0 10px;
      }
      ol{
        & > li{
          list-style: decimal;
          padding: 0;
          &:before{
            display: none;
            padding-left: 0;
          }
        }
      }
    }
    &.white {
      li {
        color: #fff;
        &:before {
          color: #fff;
        }
      }
    }
  }
  ol {
    list-style-position: inside;
    list-style: decimal;
    margin: 0 0 20px;
    padding: 0;
    & > li{
      margin: 0 0 10px 0;
      border: none;
      list-style: decimal;
      ul{
        & > li{
          list-style: none;
        }
      }
      ol, ul{
        margin: 10px 0 10px;
        padding: 0 0 0 26px;
      }
    }
  }
  p{
    color: #243238;
  }
  table{
    width: 100%;
    margin: 0 0 40px;
    td, th{
      padding: 10px;
      border: 1px solid #e6e6e6;
    }
  }
  dl {
    margin: 0 0 40px;
    dd {
      margin: 0 0 10px;
    }
  }
  embed, iframe {
    max-width: 100%;
  }
}

mark{
  color: $stm_base_color;
}

fieldset{
  border: none;
  padding: 0;
}